<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="http://www.epitrack.tech/#/" target="_blank">
            Home
          </a>
        </li>
        <li>
          <a href="http://www.epitrack.tech/#/about" target="_blank">
            About us
          </a>
        </li>
        <li>
          <a href="http://www.epitrack.tech/#/ourteam" target="_blank">
            Our Team
          </a>
        </li>
        <li>
          <a href="http://www.epitrack.tech/#/products" target="_blank">
            Products
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>
      <a href="http://www.epitrack.tech/" target="_blank">Epitrack</a>, made with love for a better world
    </p>
  </div>
</footer>
